.App {
  text-align: center;
}
.wip {
  
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background-image: url('assets/wip.jpg');
   background-repeat: repeat-x;
   background-size: 10%;
  text-align: center;
  color: white;
  align-content: center;
  opacity: 1;
}
.wip-text {
  font-size: x-large;
  background-color: rgba(0,0,0, 0.5);
  width: fit-content;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
