body {
  height: 100%;
  background-color: rgb(7, 11, 20);
}
.base {
  
  color: white;
}
.first-block {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgb(7, 11, 20)), url("assets/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  align-content: center;
}
.first-block-inner {

  background-color: rgba(58, 75, 94, 0.2);
  text-align: center;
  padding: 10%;
  margin: 2rem;
}
.content-block-two-column-left {
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-areas: 
  "left right";
  gap: 1rem;
  grid-template-columns: 10fr, 1fr;
}
.cb-left {
  margin: 0.5rem;
  background-color: rgba(58, 75, 94, 0.2);
  align-content: center;
}
.cb-right {
  margin: 0.5rem;
  background-color: rgba(58, 75, 94, 0.2);
  align-content: center;
}
.content-block-two-column-left > .cb-left {
  grid-area: left;
}
.content-block-two-column-left > .cb-right {
  grid-area: right;
}
.content-block-two-column-right {
  margin: 2rem;
  display: grid;
  grid-template-areas: 
  "left right";
  gap: 1rem;
  grid-template-columns: 1fr, 3fr;
}
.content-block-two-column-right > .cb-left {
  grid-area: left;
}
.content-block-two-column-right > .cb-right {
  grid-area: right;
}